body {
    background-color: lavender;
    color: #4c0094;
    font-family: "EB Garamond", serif;
    margin: 1em;
    padding: 1em;
}

button {
    border-radius: 10px;
    color: #e6e6fa;
    background-color:  #2b015f;
    border: 0.1em solid #2b015f;
    font-family: "EB Garamond", serif;
    padding: 1em;
}

table, form {
    border: 0.1em solid #e6e6fa;
    border-radius: 10px;
    background-color: #2b015f; 
    color: #e6e6fa;
    width: 75%;
    font-size: larger;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}

th, td {
    border-style: none;
    text-align: center
}
  
tr:hover {
    border-style: none;
    font-weight: bold;
}